.body {
    background-color: rgb(78, 219, 219);
    width: 100%;
}

.h1 {
   color: white;
   text-align: center; 
}

.form {
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    padding: 10px 238px;
    margin: 40px auto;
}

.your-name {
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    height: 40px;
    width: 478px;
}

.your-email {
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    height: 40px;
    width: 478px;
}

.company1 {
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 250px;
    margin-bottom: 15px;
}

.phone1 {
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 220px;
    margin-bottom: 15px;
}

.message {
    border-radius: 5px;
    border-style: none;
    height: 100px;
    width: 478px;
    margin-bottom: 15px;
}

.button1 {
    background-color: yellow;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px 40px;
    border-style: none;
}

.button2 {
    text-align: right;
}

.style1 {
    width: 50%;
    float: left;
    position: relative;
}

.style2 {
    width: 50%;
    float: left;
    position: relative;
    padding: 100px;
    box-sizing: border-box;
}

.H2 {
    color: white;
}

.p1 {
    color: white;
}

.maps {
    color: yellow;
  
   
    
}

.list {
    color: white;
}

